<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Mixster - Enter Playlist URL</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
            padding: 0 50px;
            gap: 20px;
        }

        .playlist-preview {
            text-align: center;
            margin-bottom: 20px;
        }

        .playlist-image {
            border-radius: 8px;
            margin-bottom: 10px;
            max-width: 100px;
            height: auto;
        }

        .current-song-info {
            text-align: center;
            margin-top: 20px;
        }

        .button-container {
            display: flex; /* Use flexbox for layout */
            justify-content: center; /* Center items horizontally */
            gap: 10px; /* Space between the buttons */
            margin-top: 20px; /* Optional: Add margin on top for spacing */
        }
    </style>
</head>
<body>
    <!-- Playlist Preview -->
    <div class="playlist-preview">
        <h1 id="playlist-title">Loading...</h1>
        <img src="" alt="Playlist Image" id="playlist-image" class="playlist-image" style="max-width: 100px; height: auto;">
        <p id="total_tracks">Total Tracks: N/A</p>
        <p id="total_pages">Total Pages: N/A</p>

        <h4 id="status" style="min-height: 30px;"></h4>
        <p id="time-left-estimate">Time left: N/A</p>
    </div>



    <!-- Buttons -->
    <div class="button-container">
        <button id="export_btn" type="submit" class="btn btn-outline-primary">Export</button>
        <button id="download_btn" type="submit" class="btn btn-outline-primary">Download</button>
        <button id="stop_btn" type="submit" class="btn btn-outline-danger">Stop</button>
    </div>

    <!-- Progress Bar -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <!-- Current Song Info -->
    <div class="current-song-info">
        <h3>Current Track:</h3>
        <p id="track-name">Track Name: N/A</p>
        <p id="track-artist">Artist: N/A</p>
    </div>

    <script>
        const progress_bar = document.querySelector('.progress-bar');
        const progres = document.querySelector('.progress');
        const export_button = document.getElementById('export_btn');
        const stop_button = document.getElementById('stop_btn');
        const download_button = document.getElementById('download_btn');

        const status_text = document.getElementById('status');

        const playlistTitleElement = document.getElementById('playlist-title');
        const playlistImageElement = document.getElementById('playlist-image');
        const totalTracksElement = document.getElementById('total_tracks');
        const totalPagesElement = document.getElementById('total_pages');

        const song_info = document.querySelector('.current-song-info');

        const track_name_element = document.getElementById('track-name');
        const track_artist_element = document.getElementById('track-artist');
        const time_left_estimate_element = document.getElementById('time-left-estimate');

        // Hide Info until relevant
        export_button.style.display = 'none';
        stop_button.style.display = 'none';
        download_button.style.display = 'none';
        time_left_estimate_element.style.visibility = 'hidden';
        song_info.style.visibility = 'hidden';
        progres.style.visibility = 'hidden';
        playlistImageElement.style.visibility = 'hidden';
        totalPagesElement.style.visibility = 'hidden';
        totalTracksElement.style.visibility = 'hidden';

        // Get the json data about the playlist_scan_id to export
        const playlist_scan_id = '{{ playlist_scan_id }}'
        let totalPagesVal;
        let exportCompleted;
        let progress_val = 0;

        function showDownloadButton(PDFName) {
            // Show Download button
            download_button.style.display = 'inline-block';
            download_button.removeEventListener("click", handleDownload); // Remove any existing event listener
            download_button.addEventListener("click", handleDownload);

            function handleDownload() {
                // Create a hidden link element for download
                const link = document.createElement("a");
                link.href = `/export/data/playlist/${PDFName}`;

                // Trigger the download
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }

        function updateLoadingText(data) {
            if (data.track_name) {
                track_name_element.textContent = `Track Name: ${data.track_name}`;
            }
            if (data.track_artist) {
                track_artist_element.textContent = `Artist: ${data.track_artist}`;
            }
            if (data.time_left_estimate) {
                time_left_estimate_element.textContent = `Time left: ${data.time_left_estimate}`;
            }
            if (data.total_pages) {
                totalPagesElement.textContent = `Total Pages: ${data.total_pages}`;
            }
            if (data.total_tracks) {
                totalTracksElement.textContent = `Total Tracks: ${data.total_tracks}`;
            }
            status_text.textContent = data.task_description; // Task description is hidden with "" so no use for an if seeing that is an usecase
        }

        function buildConfig() {
            return {'pdf_layout_style': 'default'}
        }

        // Todo make into func so details can be refreshed based on updating config

        // Fetch playlist details when the page loads
        fetch("/export/api/get-playlist-details", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                playlist_scan_id: playlist_scan_id,
                config: buildConfig()
            })
        })
            .then(response => response.json())
            .then(playlistData => {
                // Update DOM with fetched details
                playlistTitleElement.textContent = playlistData.title || "Unknown Playlist";
                playlistImageElement.src = playlistData.cover_image_url;
                playlistImageElement.style.visibility = "visible";

                totalTracksElement.textContent = `Total Tracks: ${playlistData.amount_of_tracks || 'N/A'}`;
                totalTracksElement.style.visibility = "visible"

                totalPagesElement.textContent = `Total Pages: ${playlistData.total_pages || 'N/A'}`;
                totalPagesElement.style.visibility = "visible"

                totalPagesVal = playlistData.total_pages
                exportCompleted = Boolean(playlistData.export_completed)

                if (exportCompleted) {
                    showDownloadButton(`mixster_export_${playlist_scan_id}.pdf`)

                    // TODO Implement RE-SCAN

                    // TODO Implement RE-SCAN (extending this scan)

                } else {

                    // Show Export button
                    export_button.style.display = 'inline-block';

                    function updateProgressBar(percent) {
                        progress_val = percent
                        if (percent === 0) {
                            progress_bar.classList.remove("bg-success");
                        } else if (percent >= 100) {
                            progress_bar.classList.add("bg-success");
                        }

                        progress_bar.style.width = percent + "%";
                        progres.setAttribute("aria-valuenow", percent);
                    }

                    function isEmptyObject(obj) {
                        return JSON.stringify(obj) === '{}'
                    }

                    export_button.addEventListener("click", () => {
                        updateProgressBar(0);

                        song_info.style.visibility = 'visible';
                        progres.style.visibility = 'visible';

                        export_button.setAttribute("disabled", "disabled");

                        fetch("/export/api/start-export", {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({
                                playlist_scan_id: playlist_scan_id,
                                config: buildConfig()
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                let interval = setInterval(() => {
                                    fetch("/export/api/progress", {
                                        method: "POST",
                                        headers: {"Content-Type": "application/json"},
                                        body: JSON.stringify({task_id: data.task_id})
                                    })
                                        .then(response => response.json())
                                        .then(result => {
                                            if (result.state === "ERROR") {
                                                clearInterval(interval);
                                                alert(`An error occurred during export.\nError message: ${result.error_msg}`);
                                                window.location.href = "/export";
                                            } else {
                                                // Reset the progress bar if a new state is triggerd
                                                if (result.progress < progress_val) {
                                                    progress_bar.classList.remove("bg-success");
                                                }
                                                updateProgressBar(result.progress)
                                                if (!isEmptyObject(result.progress_info)) {
                                                    if (time_left_estimate_element.style.visibility === 'hidden') {
                                                        time_left_estimate_element.style.visibility = 'visible';
                                                    }
                                                    updateLoadingText(result.progress_info)
                                                }
                                                if (result.state === "SUCCESS") {
                                                    clearInterval(interval);
                                                    fetch("/export/api/progress", {
                                                        method: "POST",
                                                        headers: {"Content-Type": "application/json"},
                                                        body: JSON.stringify({task_id: data.task_id})
                                                    })
                                                        .then(response => response.json())
                                                        .then(result => {
                                                            updateProgressBar(100)
                                                            updateLoadingText(result.progress_info)
                                                            // Hide buttons
                                                            export_button.style.display = 'none';
                                                            stop_button.style.display = 'none';
                                                            export_button.removeAttribute("disabled");
                                                            time_left_estimate_element.style.display = 'none';

                                                            showDownloadButton(result.progress_info.pdf_filename)
                                                        })
                                                }
                                            }
                                        })
                                }, 500) // Check every 1/2 of a second
                                stop_button.style.display = 'inline-block';
                                stop_button.addEventListener("click", () => {
                                    // Stop backend
                                    fetch("/export/api/stop", {
                                        method: "POST",
                                        headers: {"Content-Type": "application/json"},
                                        body: JSON.stringify({task_id: data.task_id})
                                    })
                                    clearInterval(interval);

                                    // Stop frontend
                                    song_info.style.visibility = 'hidden';
                                    time_left_estimate_element.style.visibility = 'hidden';
                                    progres.style.visibility = 'hidden';
                                    updateProgressBar(0);
                                    export_button.removeAttribute("disabled");
                                    stop_button.style.display = 'none';

                                    data.track_name = "N/A";
                                    data.track_artist = "N/A";
                                    data.time_left_estimate = "N/A";
                                    data.total_pages = totalPagesVal;
                                    data.iteration = 0;
                                    data.task_description = "";

                                    updateLoadingText(data)
                                })
                            })
                    })
                }
            })
            .catch(error => {
                console.error("Failed to fetch playlist details:", error);
            });
    </script>
</body>
</html>